/* Styles for desktops with a width of 1024px and above */
@media (min-width: 1024px) {
  #wrapper, .container {
    display: flex;
  }
  #wrapper {
    background-color: #002612;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  }
  #OG {
    height: 100vh;
    width: 40%;
  }
  .container {
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 90px;
  }
  #new-tweet, #tweet-container {
    width: 90%;
    margin-top: 25px;
  }
  #newbie {
    margin-top: 75px;
  }
}

/* Styles for tablets and devices with a width of 768px or below */
@media (max-width: 768px) {
  nav {
    background-color: transparent;
    text-shadow: 3px 3px #4056A1;
  }
  article footer {
    flex-direction: column;
  }
  .linkage {
    margin-bottom: 10px;
  }
}

/* Styles for mobile phones with a width of 500px or below */
@media (max-width: 500px) {
  #OG h1, #logo {
    font-size: 30px;
  }
  #new-button p {
    font-size: 15px;
  }
  #new-button img {
    bottom: -30px;
  }
  textarea {
    font-size: 18px;
  }
}

/* Styles for mobile phones with a width of 400px or below */
@media (max-width: 400px) {
  #OG h1, #logo {
    font-size: 24px;
  }
  #new-button p {
    font-size: 12px;
  }
  #new-button img {
    bottom: -32.5px;
  }

}