nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100vw;
  padding: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  font-family: 'Bungee', 'sans-serif' ;
  font-size: 36px;
}

.bold-700 {
  font-weight: 700;
}

#newButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@keyframes bounce { 
  0% { transform: translateY(2.5px); }
  100% { transform: translateY(-2.5px); }
}

#newButton img {
  position: absolute;
  bottom: -17.5px;
  animation: bounce 0.1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#newButton img:hover {
  box-shadow:
    0 0 3.75px 1.875px #fff,
    0 0 6.25px 3.75px #f0f,
    0 0 8.75px 5.625px #0ff;
}
