nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100vw;
  padding: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  font-family: 'Bungee', 'sans-serif' ;
  font-size: 36px;
}

.bold-700 {
  font-weight: 700;
}